.section {
	background: #fff;
	box-shadow: 1px 1px 5px #ccc;
	margin: 10px 0;
}

.section__header {
	border-bottom: 1px solid #ccc;
	padding: 20px;
	margin: 0;
}

.section__content {
	padding: 20px;
}

.section__tasks {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.section__task {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-bottom: 2px solid #ededed;
}

.section__taskContent {
	flex: 1 1 auto;
}

.section__taskContent--completed {
	text-decoration: line-through;
}

.section__taskButton {
	border: none;
	padding: 0;
	width: 24px;
	height: 24px;
	text-align: center;
	color: white;
}

.section__taskButton--toggleCompleted {
	background: hsl(120, 100%, 25%);
}

.section__taskButton--toggleCompleted:hover {
	background: hsl(120, 100%, 35%);
}

.section__taskButton--toggleCompleted:active {
	background: hsl(120, 100%, 45%);
}

.section__taskButton--remove {
	background: hsl(0, 100%, 50%);
}

.section__taskButton--remove:hover {
	background: hsl(0, 100%, 60%);
}

.section__taskButton--remove:active {
	background: hsl(0, 100%, 70%);
}

.section__removeIcon {
	width: 16px;
	height: 20px;
	margin: 0 auto;
}
