.section {
	background: #fff;
	box-shadow: 1px 1px 5px #ccc;
	margin: 10px 0;
}

.section__header {
	border-bottom: 2px solid #ccc;
	padding: 20px;
}

.section__content {
	border: none;
	padding: 20px;
}

.section__list {
	list-style: none;
	width: 100%;
	padding-inline-start: 0;
}

.section__listItem {
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 2px solid #ededed;
}

.section__listItem--done {
	text-decoration: line-through;
}

.section__listItemContent {
	flex: 1 1 auto;
}

.section__iconButton {
	border: none;
	padding: 0;
}

.section__completionIcon {
	filter: invert(26%) sepia(100%) saturate(1255%) hue-rotate(92deg)
		brightness(98%) contrast(106%);
}

.section__completionIcon:hover {
	filter: invert(73%) sepia(27%) saturate(3164%) hue-rotate(68deg)
		brightness(88%) contrast(105%);
}

.section__removeIcon {
	filter: invert(18%) sepia(93%) saturate(5820%) hue-rotate(357deg)
		brightness(99%) contrast(116%);
}

.section__removeIcon:hover {
	filter: invert(68%) sepia(39%) saturate(4845%) hue-rotate(317deg)
		brightness(88%) contrast(99%);
}
