html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #ededed;
	font-family: "Lato", sans-serif;
	word-break: break-word;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

.container {
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
	padding: 5px;
}

@media (max-width: 767px) {
	.container {
		width: 100%;
	}
}
